:root{
    --Roxo_Destaque: #9747FF;
    --Roxo_Hover: #8233E8;
    --Offwhite: #FFFFFF;
    --Grafite: #232323;
    --FUndo_Dark: #0E1014;

    --poppins: "poppins", sans-serif;
}

.light-mode{
    h1{
    font-size: 4rem;
}

strong{
    color: var(--Roxo_Destaque);
}

p{
    font-size: 1.5rem;
}
body{
    background-color: var(--Offwhite);
}
}

.dark-mode{
h1{
    font-size: 4rem;
    color: var(--Offwhite);
}

strong{
    color: var(--Roxo_Destaque);
}

p{
    font-size: 1.5rem;
    color: var(--Offwhite);
}
body{
    background-color:var(--FUndo_Dark);
}
}

header{
    display: flex;
    justify-content: space-between;
}



.logo{
    padding: 70px 75px 0px 0px ;
}
.altera_contexto{
    background-image: url('./Property\ 1=Dark.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;

   padding: 70px 75px 0px 0px;

}
.dark-mode .altera_contexto{
    background-image: url('./Property\ 1=Light.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;

   padding: 70px 75px 0px 0px;

}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding-top: 20px;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    font-family: var(--poppins);
}
h1{
    font-size: 4rem;
}

strong{
    color: var(--Roxo_Destaque);
}

p{
    font-size: 1.5rem;
}


.link{
    text-decoration: none;
    text-align: center;
    align-self: center;
    background: var(--Roxo_Destaque);

    height: 66px;
    width: 340px;

    border-radius: 36px;
    border: transparent;
    line-height: 66px;

    font-family: var(--poppins);
    font-size: 20px;
    font-weight: 600;
    color: var(--Offwhite);

}
.link:hover{
    background-color: var(--Roxo_Hover);
}
.main_img{
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}


@media(max-width=768px){
.logo{
    margin: 65px 0 0 60px;
}
.modo{
    margin: 60px 60px 0 0;
}
p{
    width: 648px;
}

}

@media(max-width=375px){
    .logo{
        margin: 32px 0 0 16px;
    }
    .modo{
        margin: 32px 17px 0 0; 
    }
}
